<a href="https://colab.research.google.com/github/munvarhus/PYTHON/blob/master/DAY_10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# loops
- while
- for

In [5]:
# print numbers from 1 to n
n=int(input("entre the n value"))
i=1
while i<=n:
  print(i,end=" ")
  i=i+1

entre the n value10
1 2 3 4 5 6 7 8 9 10

In [18]:
#prinr the sum of even numbers
n=int(input("entre the n value"))
i=1
sum=0
while i<=n:
  if i%2==0:
    sum=sum+i
    print(i,end=" ")
  i=i+1
print("\n",sum)

entre the n value10
2 4 6 8 10
 30

In [24]:
# print palindrome
n=int(input("entre the n value"))
sum=0
t=n
while n!=0:
  k=n%10
  sum=sum*10+k
  n=n//10
print(sum)
if sum==t:
  print(t,"is an palindrome")
else:
  print(t,"is not an palindrome")

entre the n value123
321
123 is not an palindrome

# FUNCTIONAL PROGRAMMING
- simple
- easy to understand
- better reusability

syntax:
- def functionname(parameters):

     statements
     
     return

In [26]:
# print sum of even numbers
def even(n):
  sum=0
  while n!=0:
    k=n%10
    if k%2==0:
      sum=sum+k
    n=n//10
  return sum
n=int(input("entre the n value"))
even(n)

entre the n value1234

6

In [29]:
# print largest digit of given number
def  even(n):
  s=0
  while n!=0:
    k=n%10
    if s<k:
      s=k
    n=n//10
  return s
n=int(input("entre the n value"))
even(n)

entre the n value369842

9

# FOR LOOP
- syntax

 for variabe in range(start,stop.step):
          statements

In [32]:
# print th numbers between limits
n=int(input("entre the n value"))
m=int(input("entre th m value"))
for x in range(n,m+1):
  print(x,end=" ")

entre the n value11
entre th m value25
11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [37]:
# 
def fun(n,m):
  for x in range(n,m+1,4):
    print(x,end=" ")
n=int(input("entre the n value"))
m=int(input("entre th m value"))
fun(n,m)

entre the n value500
entre th m value520
500 504 508 512 516 520

# COLLECTION TYPES
- tuples
- list
- dictionaries

# LIST
- one of the data structure in python
- data structure means to store, sort and search options
- it is  one common data in python ,the items of list seperated by comma and enclosed by square brackets
- list was IMMUTABLE (i.e., values can change)
- ex:
- list1=[1,2,3,4,5]
- list2=["jntua","hai"]

In [38]:
list=[1,4,5,6,7]
print(list)

[1, 4, 5, 6, 7]

# list indexes are two types:
-  +ve indexes starts from  left to right (0 to n)
- -ve indexes starts from right to left with values -1 t0 -n

In [43]:
list=[2,5,6,7]
print(list[1:3]) # its last index is discarded
print(list[-3:-1]) # its 1st index is discarded
print(list[::2]) # it displays data with  i+2 increment

[5, 6]
[5, 6]
[2, 6]

In [46]:
# update list
li=["hai",4,'hello']
print(li)
li[1]="bye"
print(li)
del li[1]
print(li)

['hai', 4, 'hello']
['hai', 'bye', 'hello']
['hai', 'hello']

In [48]:
# basic list functions
li=[1,2,3,4,5]
print(len(li))
print(li*2)# it repeats the list two times
print(6 in li) # it cheks whether 4 is present in list or not amd returns the true or false

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
False

# list functions
- max
- min
- sum
- append
- insert
- count
- index
- sort
- pop

In [70]:
m=[5,8,3,9,10,10]
print(type(m))
print(max(m))
print(min(m))
# print(sum(m))  python 3 note book  is suitable for the operation of sum
# print(sum(m)//len(m)) python 3 note book is suitable for the operation of sum
m.append(56)
print(m)
m.insert(2,67) # at index 2 value of 67 is added
print(m)
m.count(10) # it counts the no of times 10 is repeated
print(m.index(10)) # it says about the index of the elememnt in list
m.sort()
print(m)
m.pop() #  it deletes the last index value element
print(m)
m.pop(5)
print(m)

<class 'list'>
10
3
[5, 8, 3, 9, 10, 10, 56]
[5, 8, 67, 3, 9, 10, 10, 56]
5
[3, 5, 8, 9, 10, 10, 56, 67]
[3, 5, 8, 9, 10, 10, 56]
[3, 5, 8, 9, 10, 56]

In [75]:
# using functions  return large number from the list
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[-n]
li=[34,12,67,45]
print(largenumber(li))
print(genericlarge(li,3))

67
34

In [77]:
# using functions  return small number from the list
def smallnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
  li.sort()
  return li[n-1]
li=[34,12,67,45]
print(smallnumber(li))
print(genericsmall(li,3))

12
45