<a href="https://colab.research.google.com/github/munvarhus/PYTHON/blob/master/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# to check a given year is leap year or not
a = int(input("enter the year"))
if a%400==0 or (a%100!=0 and a%4 ==0):
  print("it is an leap year")
else:
  print("it is not an leap year")

enter the year2020
it is an leap year

# ITERATION 
- while 
- for

syntax : while boolean_expression:

statements

increment/decrements

In [0]:
# print JNTUA for 5 times
i=1
while i<=5:
  print("JNTUA")
  i=i+1

JNTUA
JNTUA
JNTUA
JNTUA
JNTUA

In [0]:
#print n natural numbers using while loop
n=int(input("enter the n value"))
i=1;
while(i<=n):
  print(i,end=" ")
  i=i+1

enter the n value5
1 2 3 4 5

In [0]:
# add only even numbers between 1 and n 
n=int(input("enter the n value"))
i=1
sum=0
while i<=n :
  if i%2==0:
    sum=sum+i
  i=i+1
print(sum)

enter the n value6
12

In [0]:
# print the digits of given number
n=int(input("enter the n value"))
while n!=0:
  k = n%10
  print(k,end=" ")
  n=n//10

enter the n value123
3 2 1

# FUNCTIONAL PROGRAMMING

syntax:

def nameoffunction(<parameters>):

 statement
 
 return

In [0]:
# function to read number and sum the even digits of a number
def add(n):
  sum=0
  while n!=0:
    k=n%10
    if(k%2==0):
      sum=sum+k
    n=n//10
  return sum
n=int(input("enter the n value"))
add(n)

enter the n value4567

10

In [0]:
#print the large digit of a number
def large(n):
  s=0
  while n!=0:
    k=n%10
    if s<k:
      s=k
    n=n//10
  return s
n=int(input("enter the n value"))
large(n)

enter the n value6789

9

In [0]:
#reverse of a given number
def reverse(n):
  rev=0
  while n!=0:
    k=n%10
    rev=rev*10+k
    n=n//10
  return rev
n=int(input("enter the n value"))
reverse(n)

enter the n value123

321

In [0]:
#to check whether no is palindrome or not
def reverse(n):
  s=n
  rev=0
  while n!=0:
    k=n%10
    rev=rev*10+k
    n=n//10
  if rev==s:
    return "yes"
  else:
    return "no"
n=int(input("enter the n value"))
reverse(n)

enter the n value121

'yes'

In [0]:
# function to print n natural numbers using for loop
def pn(n):
  for x in range(1,n+1):
    print(x,end=" ")
  return
n=int(input("entre the n value"))
pn(n)

entre the n value10
1 2 3 4 5 6 7 8 9 10

In [0]:
# function to print numbers between two limits
def lim(m,s):
  for x in range(m,s+1):
    print(x,end=" ")
  return
m=int(input("entre the starting value"))
s=int(input("entre the ending value"))
lim(m,s)

entre the starting value11
entre the ending value25
11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [0]:
#function to print alternate values
def lim(m,s):
  for x in range(m,s+1,2):
    print(x,end=" ")
  return
m=int(input("entre the starting value"))
s=int(input("entre the ending value"))
lim(m,s)

entre the starting value11
entre the ending value15
11 13 15

In [0]:
# function to print the numbers in reverse
def rev(n):
  for x in range(n,0,-1):
    print(x,end=" ")
  return
n=int(input("entre the n value"))
rev(n)

entre the n value10
10 9 8 7 6 5 4 3 2 1

In [0]:
def fact(n):
  for x in range(1,n+1):
    if n%x==0:
      print(x,end=" ")
  return
n=int(input("entre the n value"))
fact(n)

entre the n value16
1 2 4 8 16

In [0]:
# given no is prime no or not
def prime(n):
  count=0
  for x in range(2,n):
    if n%x==0:
      count=count+1
  if count==0:
    return "its a prime"
  else:
    return "its a not prime"
n=int(input("enter the n value"))
prime(n)

enter the n value9

'its a not prime'

In [0]:
# function to print prime numbers between 1 to n
def prime(n):
  s=0
  for x in range(2,n+1):
    count=0
    for i in range(2,x):
      if x%i==0:
        count=count+1
    if count==0:
      s=s+1
  return s
n=int(input("enter the n value"))
prime(n)

enter the n value10

4

In [0]:
# individual digit factorial sum is same as original number
# input 145 =yes(1!+4!+5!=145)
def fact(n):
  fac=1
  for x in range(1,n+1):
    fac=fac*x
  return fac
def su(n):
  sum=0
  t=n
  while n!=0:
    k=n%10
    sum=sum+fact(k)
    n=n//10
  if sum==t:
    return "yes"
  else:
    return "no"
n=int(input("enter the n value"))
su(n)

enter the n value145

'yes'

In [0]:
# function to return the count of palindromes between two limits
# input 11 100
# output 9(11,22,33,44,55,66,77,88,99)
def fun(n,m):
  count=0
  for x in range(n,m+1):
    s=fac(x)
    if s=="yes":
      count=count+1
    
  return count
def fac(l):
  t=l
  sum=0
  while l!=0:
    k=l%10
    sum=sum*10+k
    l=l//10
  if t==sum:
    return 'yes'
  else:
    return 'no'
n=int(input("entre the n value"))
m=int(input("enter the m value"))
fun(n,m)

entre the n value11
enter the m value100

9

In [0]:
# function to generate perfect numbers in a range
# input 1 10
# output 6
def fac(s):
  sum=0
  for i in range(1,s):
    if s%i==0:
      sum=sum+i
  if sum == s:
    print(s)
  return 
def fun(n,m):
  for x in range(n,m+1):
    fac(x)
  return 
n=int(input("entre the n value"))
m=int(input("enter the m value"))
fun(n,m)

entre the n value1
enter the m value10
6

# PROGRAMMING IN PYTHON(STRINGS)

In [0]:
# strings index starts from 0
# st[0:2] means we are accesing the exlements whose indexes starts from and end at 1 but not 2
# st[:2] means the same meaning as above
# st[::-2] displays the values of indexes starting from -1 with increment of -2
def fun(str):
  return str[-1::-1]
fun("munvar")

'ravnum'

In [0]:
# program to check whether given string is palindrome or not
def fac(str):
  if str == str[-1::-1]:
    return "true"
  else:
    return "false"
  return
n=str(input("entre the string"))
fac(n)

entre the stringmunvar

'false'

In [0]:
# function to print uppercase characters 
# ex: munvar -- MUNVAR
# A-Z : 65-90
# a-z : 97-122
# 0-9 : 48-57
# space : 32
# ord('A') is used to access the ascii values of a characer or a symbol
def fac(n):
  for i in range(len(n)):
    if ord(n[i])>=65 and ord(n[i])<=90:
      print(n[i],end=" ")
  return 
n=str(input("entre the input string"))
fac(n)

entre the input stringMuNvaR
M N R

In [0]:
# function to print same count if the count of upper case and  lower case charcters are same 
def fac(s):
  sum1=sum2=sum3=0
  for x in range(len(s)):
    if ord(s[x])>=65 and ord(s[x])<=90:
      sum1=sum1+1
    elif ord(s[x])>=97 and ord(s[x])<=122:
      sum2=sum2+1
    else:
      sum3=sum3+1
  if sum1==sum2:
    return "same count"
  else:
    return "not equal"
  return
n=str(input("entre the string"))
fac(n)

entre the stringmunvAr

'not equal'

In [0]:
# extract digits from the given string
# input : munvar456
# output : 456
def fac(n):
  for i in range(len(n)):
    if ord(n[i])>=48 and ord(n[i])<=57:
      print(n[i],end=" ")
  return
n=str(input("enter the string"))
fac(n)

enter the stringmunvar456
4 5 6

In [0]:
# function to sum the digits of a given string
# input : munvar456
# output : 15(4+5+6)
# we have to use int() function to convert the obtained string digits into pure integers
def fac(n):
  sum=0
  for i in range(len(n)):
    if ord(n[i])>=48 and ord(n[i])<=57:
      sum=sum+int(n[i])
  return sum
n=str(input("enter the string"))
fac(n)

enter the stringmunvar567

18

In [0]:
# function to sum the even digits of a given string
# input : munvar456
# output : 10(4+6)
# we have to use int() function to convert the obtained string digits into pure integers
def fac(n):
  sum=0
  for i in range(len(n)):
    if ord(n[i])>=48 and ord(n[i])<=57:
      if int(n[i])%2==0:
        sum=sum+int(n[i])
  return sum
n=str(input("enter the string"))
fac(n)

enter the stringmunvar896

14

# LISTS:
- ex: list=[10,12,"hai"]

In [0]:
# lists index starts form 0
# del list[0] is the command used to delete any index element of an list
# len(list) to access the length of a list
# list*2 is used for repeating the list two times
# 9 in list is used to check whether 9 is present in list or not ,it shows output as true or false
# min(),max(),sum() are some of the functions of list
# list.append(18) is used to add 18 at the end of list
# list.insert(2,64) is used to insert 64 at the index 2 of the list
# list.sort(),it sorts the list in ascending order
# list.pop() removes the last element of the list
# list.pop(i) removes the ith index element of a list
# list.count(18) returns how many times 18 value is repeated in a list
# list.extend(list2) merges the list2 into list
# list.reverse() reverses the lists
# list.remove(123) it removes the 123 value from the list

In [1]:
# program to search for the data in the list
def ss(mn,t):
  for i in range(len(mn)):
    if t == li[i]:
      return i
    else:
      return "doesnot exist"
  return
li=[12,56,11,34,9]
ss(li,45)

'doesnot exist'

In [4]:
# search for value in the  duplicatelist
def ss(mn,t):
  for i in range(len(mn)):
    if t == li[i]:
      print(i,end=" ")
  return
li=[12,56,11,34,9,5,9,4,3,9]
ss(li,9)

4 6 9

In [9]:
def ss(mn,t):
  for i in range(len(mn)):
    if t == li[i]:
      for x in range(1,i+2):
         print("!",end=" ")
      print("\t")
  return
li=[12,56,11,34,9,5,9,4,3,9]
ss(li,9)

! ! ! ! !
! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! !

In [11]:
# sum of elements of lists which are multiple of 3 and 5
def ss(n):
  sum=0
  for i in range(len(n)):
    if n[i]%3==0 and n[i]%5==0:
      sum=sum+n[i]
  return sum
li=[12,56,11,34,9,5,9,4,3,9]
ss(li)

0

# NUMBER TO LIST
- input as number
- output will be list

In [12]:
# function to convert the number into list
# input: 12345
# output : [1,2,3,4,5]
def fa(n):
  li=[]
  while n!=0:
    k=n%10
    li.append(k)
    n=n//10
  li.reverse()
  return li
n=int(input("entre the number"))
fa(n)

entre the number12345

[1, 2, 3, 4, 5]

In [14]:
# function to count the occurences ofa chracter in a string
def fa(n,s):
  count=0
  for i in range(len(n)):
    if s==n[i]:
      count=count+1
  return count
n=str(input("entre the string"))
fa(n,'m')

entre the stringms munvar

2

# STRING TO LIST COVERSION
- input will be string
- output will be a list

In [16]:
# "12345"->[1,2,3,4,5]
def fa(n):
  li=[]
  for i in range(len(n)):
    li.append(n[i])
  return li
n=str(input("entre the string"))
fa(n)

entre the stringmunvar

['m', 'u', 'n', 'v', 'a', 'r']

# SORTING ALGORITHMS
- bubble sort
- insertion sort
- selection sort

In [18]:
# function to represent bubble sort
def fac(li):
  for i in range(len(li)-1):
    for j in range(len(li)-1):
      if li[j]>li[j+1]:
        t=li[j]
        li[j]=li[j+1]
        li[j+1]=t
  return li
li=[12,45,34,11,8]
fac(li)

[8, 11, 12, 34, 45]

# TUPLES

# DICTIONARIES
- it works on the concept of set unique data
- ex:
- d1={"key":"value"}

In [0]:
# output of dictionary will be a collection of key value pairs
# dl.keys() returns the entire keys of  a dictionary
# d1.values() returns the values of a dictionary
# d1.items() returns the list of tuples of keys and values