<a href="https://colab.research.google.com/github/munvarhus/PYTHON/blob/master/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# to check a given year is leap year or not
a = int(input("enter the year"))
if a%400==0 or (a%100!=0 and a%4 ==0):
  print("it is an leap year")
else:
  print("it is not an leap year")

enter the year2020
it is an leap year

# ITERATION 
- while 
- for

syntax : while boolean_expression:

statements

increment/decrements

In [0]:
# print JNTUA for 5 times
i=1
while i<=5:
  print("JNTUA")
  i=i+1

JNTUA
JNTUA
JNTUA
JNTUA
JNTUA

In [0]:
#print n natural numbers using while loop
n=int(input("enter the n value"))
i=1;
while(i<=n):
  print(i,end=" ")
  i=i+1

enter the n value5
1 2 3 4 5

In [0]:
# add only even numbers between 1 and n 
n=int(input("enter the n value"))
i=1
sum=0
while i<=n :
  if i%2==0:
    sum=sum+i
  i=i+1
print(sum)

enter the n value6
12

In [0]:
# print the digits of given number
n=int(input("enter the n value"))
while n!=0:
  k = n%10
  print(k,end=" ")
  n=n//10

enter the n value123
3 2 1

# FUNCTIONAL PROGRAMMING

syntax:

def nameoffunction(<parameters>):

 statement
 
 return

In [0]:
# function to read number and sum the even digits of a number
def add(n):
  sum=0
  while n!=0:
    k=n%10
    if(k%2==0):
      sum=sum+k
    n=n//10
  return sum
n=int(input("enter the n value"))
add(n)

enter the n value4567

10

In [0]:
#print the large digit of a number
def large(n):
  s=0
  while n!=0:
    k=n%10
    if s<k:
      s=k
    n=n//10
  return s
n=int(input("enter the n value"))
large(n)

enter the n value6789

9

In [0]:
#reverse of a given number
def reverse(n):
  rev=0
  while n!=0:
    k=n%10
    rev=rev*10+k
    n=n//10
  return rev
n=int(input("enter the n value"))
reverse(n)

enter the n value123

321

In [0]:
#to check whether no is palindrome or not
def reverse(n):
  s=n
  rev=0
  while n!=0:
    k=n%10
    rev=rev*10+k
    n=n//10
  if rev==s:
    return "yes"
  else:
    return "no"
n=int(input("enter the n value"))
reverse(n)

enter the n value121

'yes'

In [0]:
# function to print n natural numbers using for loop
def pn(n):
  for x in range(1,n+1):
    print(x,end=" ")
  return
n=int(input("entre the n value"))
pn(n)

entre the n value10
1 2 3 4 5 6 7 8 9 10

In [0]:
# function to print numbers between two limits
def lim(m,s):
  for x in range(m,s+1):
    print(x,end=" ")
  return
m=int(input("entre the starting value"))
s=int(input("entre the ending value"))
lim(m,s)

entre the starting value11
entre the ending value25
11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [0]:
#function to print alternate values
def lim(m,s):
  for x in range(m,s+1,2):
    print(x,end=" ")
  return
m=int(input("entre the starting value"))
s=int(input("entre the ending value"))
lim(m,s)

entre the starting value11
entre the ending value15
11 13 15

In [0]:
# function to print the numbers in reverse
def rev(n):
  for x in range(n,0,-1):
    print(x,end=" ")
  return
n=int(input("entre the n value"))
rev(n)

entre the n value10
10 9 8 7 6 5 4 3 2 1

In [0]:
def fact(n):
  for x in range(1,n+1):
    if n%x==0:
      print(x,end=" ")
  return
n=int(input("entre the n value"))
fact(n)

entre the n value16
1 2 4 8 16

In [0]:
# given no is prime no or not
def prime(n):
  count=0
  for x in range(2,n):
    if n%x==0:
      count=count+1
  if count==0:
    return "its a prime"
  else:
    return "its a not prime"
n=int(input("enter the n value"))
prime(n)

enter the n value9

'its a not prime'

In [0]:
# function to print prime numbers between 1 to n
def prime(n):
  s=0
  for x in range(2,n+1):
    count=0
    for i in range(2,x):
      if x%i==0:
        count=count+1
    if count==0:
      s=s+1
  return s
n=int(input("enter the n value"))
prime(n)

enter the n value10

4

In [0]:
#